
%% https://github.com/erlang/rebar3/blob/master/rebar.config.sample

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {ptolemaios, "0.1.0"}, [ptolemaios, sasl]},
    
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    
    {dev_mode, true},
    {include_erts, false},
    
    {extended_start_script, true}]
}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ptolemaios]}
]}.

{profiles, [
    {prod,
        [{relx, [{dev_mode, false}, {include_erts, true}]}]
    }
]}.
