
%% https://github.com/erlang/rebar3/blob/master/rebar.config.sample

{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.7.0"},
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.2.0"}}}
]}.

{relx, [
    {release, {ptolemaios, "0.1.0"}, [ptolemaios, sasl]},
    
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    
    {dev_mode, true},
    {include_erts, false},
    
    {extended_start_script, true}]
}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ptolemaios]}
]}.

{pre_hooks, [
    {compile, "escript script/ptolemaios.escript pre_hooks"}
]}.

{post_hooks, [
    {compile, "escript script/ptolemaios.escript post_hooks"}
]}.

{profiles, [
    {prod,
        [{relx, [{dev_mode, false}, {include_erts, true}]}]
    }
]}.
