{erl_opts, [debug_info]}.
{deps, [
    {xlsxio, {git, "https://github.com/DominicGame/Xlsx-Reader-Writer.git", {branch, "master"}}}
]}.


%% name of the main OTP application to boot
{escript_main_app, xlsxio}.
%% Name of the resulting escript executable
{escript_name, "xlsxio"}.
%% Wrapper type(s) for escript executable on windows
{escript_wrappers_windows, ["cmd"]}.
%% apps (other than main and deps) to be included
{escript_incl_apps, []}.
%% Executable escript lines
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.
{escript_emu_args, "%%! -escript"}.